body {
    background-image: url('../images/tile.jpg');
    background-repeat: repeat;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    width: 100%;
}

#title_container {
    text-align: center;
    padding-bottom: 1.8em;
}

#title_container img {
    height: auto;
    padding: 2.0em 0.2em 0 0;
    width: 40%;
}

#add_search_container {
    margin: auto;
    height: 300px;
    width: 80%;
}

#search_container {
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 1.4em;
    float: left;
    width: 48%;
    height: 100%;
}

#add_container {
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 1.4em;
    float: right;
    width: 48%;
    height: 100%; 
}

p {
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
}

.input_container {
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 1.0em;
    width: 90%;
}

.input_container input[type='text'] {
    border: none;
    border-radius: 0.2em;
    font-size: 0.8em;
    padding: 0.4em;
    width: 44%;
}

.input_container select {
    width: 32%;
    border: none;
    border-radius: 0.2em;
    font-size: 0.8em;
    padding: 0.4em;
}

.input_container input[type='number'] {
    border: none;
    border-radius: 0.2em;
    font-size: 0.8em;
    padding: 0.4em;
    width: 14%;
}

.input_container input[type='submit'] {
    background-color:rgba(255, 140, 0, 0.6);
    border: 1px solid #ffffff;
    border-radius: 1.4em;
    color: #ffffff;
    font-size: 0.8em;
    width: 40%;
    padding: 0.6em 0;
}

.input_container input[type='submit']:hover {
    background-color:rgba(255, 140, 0, 1.0);
    transition: 0.4s ease;
}

#button_container {
    text-align: center;
    padding: 2.0em 0;
}

#button_container a {
    background-color:rgba(255, 140, 0, 0.6);
    border: 1px solid #ffffff;
    border-radius: 1.4em;
    color: #ffffff;
    font-size: 0.8em;
    padding: 1.0em 1.4em;
    text-decoration: none;
}

#button_container a:hover {
    background-color:rgba(255, 140, 0, 1.0);
    transition: 0.4s ease;
}

#caret_container {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: inline-block;
    display: none;
    border-radius: 2.0em;
    padding: 0.4em;
    background-color:rgba(255, 255, 255, 0.2);
    transition: 0.4s ease;
}

#caret_container:hover {
    background-color:rgba(255, 255, 255, 0.4);
}

#caret_container img {
    width: 2.0em;
    height: 2.0em;
}

#heroes_container {
    margin: auto;
    width: 50%;
}

.hero_container {
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 1.4em;
    width: 100%;
    margin-bottom: 2.0em;
}

.hero_container img {
    width: 60%;
    height: auto;
}

.hero_profile_container {
    float: right;
    width: 40%;
}

.hero_profile_container p {
    text-align: left;
    font-size: 0.9em;
}

#title_container #credits {
    font-size: 0.6em;
    color: #ffffff;
}

.hero_profile_container .credits {
    font-size: 0.6em;
    color: #ffffff;
}

#footer {
    background-color:rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 0.6em;
    width: 100%;
    color: #ffffff;
    padding: 0.2em 0;
}

